<ion-content>

</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addcustomer">
     
      <ion-icon class="color" name="megaphone"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="customer">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
