.ion-toolbar{
    background-color: #7044ff;
}
.ion-header{
    background-color: #7044ff;
}

.ion-title{
    text-align: center;
}

ion-content.background{
    --background: url(../../assets/police.jpg) 0 0/100% 100% no-repeat;
}

p{
    text-align: center;
    height: 10px;
}

.ion-padding{
    height: 180px;
}

.ion-title{
    text-align: center;
}